<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-4">My Statements</h1>
  <h2><%= Date.today.strftime("%B") %></h2>

  <div class="row mt-4">
    <div class="col">
      <h3>This month's total Disposable Income</h3>
      <h4>£<%= current_customer.current_month_disposable_income %></h4>
    </div>
    <div class="col">
      <h3>This month's total I&E Band</h3>
      <h4><%= current_customer.current_month_ie_band %></h4>
    </div>
  </div>

  <%= link_to "New statement", new_statement_path, class: "btn btn-primary mt-4" %>

  <div id="statements" class="mt-4">
    <% if @statements.blank? %>
      <p>No statements filed yet.</p>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Date Of Creation</th>
            <th>I&E Rating</th>
            <th>Disposable Income</th>
            <th>View Details</th>
          </tr>
        </thead>
        <tbody>
          <% @statements.each do |statement| %>
            <tr>
              <td><%= statement.created_at %></td>
              <td><%= statement.ie_rating %></td>
              <td>£<%= statement.disposable_income %></td>
              <td>
                <%= link_to '👀', statement_path(statement), class: "btn btn-outline-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
